<%- partial('_partial/head') %>
<body id="<%= "404 Not Found" === (page.title && page.title.trim()) ? 'error-page' : 'normal'%>">
<%- partial('_partial/_head-sections/IE',null,{cache: !config.relative_link}) %>
<div id="wrap">
    <%- partial('_partial/header') %>
    <div id="container">
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <%- body %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
    <%- partial('_partial/after-footer') %>

</body>
</html>